


/* Start:/bitrix/components/bitrix/news/templates/.default/bitrix/news.detail/.default/style.css*/
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */
/* /bitrix/components/bitrix/news/templates/.default/bitrix/news.detail/.default/style.css */
