


/* Start:/bitrix/components/bitrix/system.auth.form/templates/.default/style.css*/
div.bx-system-auth-form span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:bottom; margin-top:-1px;}
div.bx-system-auth-form div.bx-auth-secure-icon {background-image:url('/bitrix/components/bitrix/system.auth.form/templates/.default/images/sec.png'); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-system-auth-form div.bx-auth-secure-unlock {background-image:url('/bitrix/components/bitrix/system.auth.form/templates/.default/images/sec-unlocked.png');}

/* End */
/* /bitrix/components/bitrix/system.auth.form/templates/.default/style.css */
