
/* Start:/bitrix/components/bitrix/news/templates/reviews/bitrix/news.list/.default/style.css*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */

/* Start:/bitrix/components/bitrix/system.pagenavigation/templates/orange/style.css*/
.system-nav-orange
{
	color: #999;
	font-size:12px;
}

.system-nav-orange .nav-current-page
{
	color:white;
	background-color: rgb(255, 153, 0);
	font-weight: bold;
	padding:1px 0px;
}
/* End */
