
/* Start:/bitrix/templates/inner/components/bitrix/menu/top_multi/style.css*/
/**Top menu**/
#horizontal-multilevel-menu,#horizontal-multilevel-menu ul
{
	margin:0; padding:0;
	background:#BC262C url('/bitrix/templates/inner/components/bitrix/menu/top_multi/images/header_menu_bg.gif') repeat-x;
	min-height:27px;
	width:100%;
	list-style:none;
	font-size:11px;
	float:left;
	/*font-size:90%*/
}

#horizontal-multilevel-menu
{
	
}

/*Links*/
#horizontal-multilevel-menu a
{
	display:block;
	padding:5px 10px;
	/*padding:0.3em 0.8em;*/
	text-decoration:none;
	text-align:center;
}

#horizontal-multilevel-menu li 
{
	float:left;
}

/*Root items*/
#horizontal-multilevel-menu li a.root-item
{
	color:#fff;
	font-weight:bold;
	padding:7px 12px;
}

/*Root menu selected*/
#horizontal-multilevel-menu li a.root-item-selected
{
	background:#fc8d3d;
	color:#fff;
	font-weight:bold;
	padding:7px 12px;
}

/*Root items: hover*/
#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item
{
	background:#e26336;
	color:#fff;
}

/*Item-parents*/
#horizontal-multilevel-menu a.parent
{
	background: url('/bitrix/templates/inner/components/bitrix/menu/top_multi/images/arrow.gif') center right no-repeat;
}

/*Denied items*/
#horizontal-multilevel-menu a.denied
{
	background: url('/bitrix/templates/inner/components/bitrix/menu/top_multi/images/lock.gif') center right no-repeat;
}

/*Child-items: hover*/
#horizontal-multilevel-menu li:hover, #horizontal-multilevel-menu li.jshover
{
	background:#D6D6D6;
	color:#fff;
}

/*Child-items selected*/
#horizontal-multilevel-menu li.item-selected
{
	background:#D6D6D6;
	color:#fff;
}

/*Sub-menu box*/
#horizontal-multilevel-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;

	height:auto;
	/*width:12em;*/
	width:135px;
	background:#F5F5F5;
	border:1px solid #C1C1C1;
}

/*Sub-menu item box*/
#horizontal-multilevel-menu li li 
{
	width:100%;
	border-bottom:1px solid #DEDEDE;
}

/*Item link*/
#horizontal-multilevel-menu li ul a
{
	text-align:left;
}

/*Items text color & size */
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a
{
	color:#4F4F4F;
	font-weight:bold;
}

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	color:#4F4F4F;
}

#horizontal-multilevel-menu li ul ul
{
	margin:-27px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}
/* End */

/* Start:/bitrix/templates/.default/components/bitrix/breadcrumb/nav/style.css*/
.bx_breadcrumbs{
    margin-bottom:15px;
    padding-top:0px
}
.bx_breadcrumbs ul{
    margin:0;
    padding:0
}
.bx_breadcrumbs ul li{
    display:inline-block;
    line-height:20px
}
.bx_breadcrumbs ul li a{
    display:block;
    padding:0 15px;
    background:url('/bitrix/templates/.default/components/bitrix/breadcrumb/nav/images/breadcrumbs_arrow.png') no-repeat center right;
    color:#555;
    text-decoration:none;
    font-size:11px;
    opacity:.5
}
.bx_breadcrumbs ul li:first-child a{padding-left:0}
.bx_breadcrumbs ul li:last-child  a{background:none}
.bx_breadcrumbs ul li a:hover{
    text-decoration:underline;
    line-height:20px;
    opacity:1
}
.bx_breadcrumbs ul li span{
    display:block;
    padding:0 15px;
    color:#aaa;
    text-decoration:none;
    font-size:11px
}
.bx_breadcrumbs,
.bx_breadcrumbs ul li{
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
/* End */

/* Start:/bitrix/components/bitrix/menu/templates/vertical_multilevel/style.css*/
ul#vertical-multilevel-menu, #vertical-multilevel-menu ul
{
	margin: 0; 
	padding: 0; 
	list-style: none; 
	width: 214px;
	font-size:12px;
}

/*Submenu box*/
#vertical-multilevel-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;
	height:auto;
	border:1px solid #C1C1C1;
	border-bottom:none;
	width:200px;
}

/* Submenu Items */ 
#vertical-multilevel-menu li a
{ 
	display: block; 
	text-decoration: none; 
	color: #4F4F4F; 
	font-weight:bold;
	padding: 5px; 
	background:#F5F5F5;
	border-bottom:1px solid #C1C1C1;
}

/*Items selected*/
#vertical-multilevel-menu li a.item-selected
{ 
	background-color: #D6D6D6;
}

/*Items Hover */
#vertical-multilevel-menu li a:hover
{
	background-color: #D6D6D6;
} 

/*Rootmenu Items*/
#vertical-multilevel-menu a.root-item
{
	color:#fff;
	font-weight:bold;
	font-size:12px;
	padding:5px 0 7px 35px;
	background:#61656A url('/bitrix/components/bitrix/menu/templates/vertical_multilevel/images/item_bg.gif') 0 0 no-repeat;
	border:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	/*height:26px;
	overflow:hidden;*/
}

/*Rootmenu Items hover*/
#vertical-multilevel-menu a.root-item:hover, #vertical-multilevel-menu a.root-item-selected:hover
{
	background:#61656A url('/bitrix/components/bitrix/menu/templates/vertical_multilevel/images/item_bg.gif') 0 -26px no-repeat;
}

/*Rootmenu Items Selected*/
#vertical-multilevel-menu a.root-item-selected
{
	color:#fff;
	font-weight:bold;
	font-size:12px;
	padding:5px 0 7px 35px;
	background:#61656A url('/bitrix/components/bitrix/menu/templates/vertical_multilevel/images/item_bg.gif') 0 -26px no-repeat;
	border:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	/*height:26px;
	overflow:hidden;*/
}

/*Parent item*/
#vertical-multilevel-menu a.parent
{
	background: #F5F5F5 url('/bitrix/components/bitrix/menu/templates/vertical_multilevel/images/arrow.gif') center right no-repeat;
	padding-right:10px;
}

/*Denied items*/
#vertical-multilevel-menu a.denied
{
	background: #F5F5F5 url('/bitrix/components/bitrix/menu/templates/vertical_multilevel/images/lock.gif') center right no-repeat;
	color:#DDDDDD;
	padding-right:10px;
}

/* Holly Hack. IE Requirement \*/ 
* html ul#vertical-multilevel-menu li { float: left; height: 1%; } 
* html ul#vertical-multilevel-menu li a { height: 1%; } 
/* End */ 


/*Submenu margin*/
#vertical-multilevel-menu li ul.root-item
{
	margin:-27px 0 0 210px;
}

#vertical-multilevel-menu li ul
{
	margin:-27px 0 0 133px;
}

/*Submenu hide*/
#vertical-multilevel-menu li:hover ul ul,
#vertical-multilevel-menu li.jsvhover ul ul,
#vertical-multilevel-menu li:hover ul ul ul,
#vertical-multilevel-menu li.jsvhover ul ul ul 
{
	/*top:-999em;*/
	display:none;
}

/*Submenu show*/
#vertical-multilevel-menu li:hover ul,
#vertical-multilevel-menu li.jsvhover ul,
#vertical-multilevel-menu li li:hover ul,
#vertical-multilevel-menu li li.jsvhover ul,
#vertical-multilevel-menu li li li:hover ul,
#vertical-multilevel-menu li li li.jsvhover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}
/* End */

/* Start:/bitrix/js/fileman/sticker.css*/
div.bx-sticker{position: absolute;top: 0;left: 0; overflow:hidden; border-width: 1px; border-style: solid;}
div.bx-sticker div.bxst-header{height: 19px;}
div.bx-sticker div.bxst-content{overflow: hidden; cursor: pointer;}
div.bx-sticker div.bxst-footer{height: 24px; overflow:hidden;}
div.bx-sticker .bxst-sprite, .bxst-sprite{background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important;}
body div.bx-sticker-over{border-width: 2px!important;}

/* Shadow*/
div.bxst-shadow{position: absolute;top: 0; left: 0; filter: gray() alpha(opacity=20); opacity: 0.2; background: #000; border: 1px solid #000!important;}

div.bxst-completed {filter: alpha(opacity=80)!important;opacity: 0.8!important;}
div.bxst-completed div.bxst-content-area{/* text-decoration: line-through!important; */ }

/* Controls and buttons*/
div.bx-sticker div.bxst-header div.bxst-check-cont{float: left;margin:0 4px;}
div.bx-sticker div.bxst-header div.bxst-check-cont input{float: left;display: block;}
div.bx-sticker div.bxst-header div.bxst-check-cont label{display:block; float:left; margin:3px 5px 0 0!important; font-size:10px!important;}
div.bx-sticker div.bxst-header div.bxst-type-cont{float: right; margin:3px 4px 0 0; cursor: pointer;}
div.bx-sticker div.bxst-header div.bxst-but{float: right; margin:4px 4px 0 0;}
div.bx-sticker div.bxst-header div.bxst-but img{width: 12px;height: 12px; cursor: pointer;}
div.bx-sticker div.bxst-header div.bxst-collapse img{background-position: -15px -34px;}
div.bx-sticker div.bxst-header div.bxst-close img{background-position:  -15px -14px;}
div.bx-sticker div.bxst-footer div.bxst-marker-area-but, div.bx-sticker div.bxst-footer div.bxst-marker-elem-but{float: left; margin: 3px 2px 0;}
div.bx-sticker div.bxst-footer div.bxst-marker-area-but{margin-left: 5px!important;}
div.bx-sticker div.bxst-footer div.bxst-ctrl-txt span{font-size: 10px; text-decoration: underline; cursor: pointer;font-family:Verdana!important;}
div.bx-sticker div.bxst-footer div.bxst-color-but, div.bx-sticker div.bxst-footer div.bxst-add-but{float: left; margin: 4px 0 0 6px;  cursor: pointer;}
div.bx-sticker div.bxst-footer div.bxst-resizer{float: right; margin:12px 0 0;}
div.bx-sticker div.bxst-footer div.bxst-marker-area-but img{width: 19px;height: 19px;cursor: pointer; background-position:  -9px -101px;}
div.bx-sticker div.bxst-footer div.bxst-marker-area-but img.bxst-pressed{background-position:  -9px -120px;}
div.bx-sticker div.bxst-footer div.bxst-marker-elem-but img{width: 19px;height: 19px;cursor: pointer; background-position:  -31px -101px;}
div.bx-sticker div.bxst-footer div.bxst-marker-elem-but img{width: 19px;height: 19px;cursor: pointer; background-position:  -31px -101px;}
div.bx-sticker div.bxst-footer div.bxst-marker-elem-but img.bxst-pressed{background-position:  -31px -120px;}
div.bx-sticker div.bxst-footer div.bxst-resizer img{width: 12px;height: 12px; cursor: se-resize; background-position:  -14px -45px;}
div.bx-sticker div.bxst-id-cont{display:none; float:left; margin:2px 0 0 4px!important; font-size:10px!important; cursor: default!important;}

div.bx-sticker div.bxst-footer div.bxst-info-icon{float: right; margin: 3px 10px 0 0;}
div.bx-sticker div.bxst-footer div.bxst-info-icon img{width: 19px;height: 19px; background-position:  -60px -101px;}

/*type selector*/
div.bx-sticker div.bxst-type-cont div.bxst-type-corn{float: left; width: 3px; height: 12px; background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important; cursor: pointer!important;}
div.bx-sticker div.bxst-type-cont div.bxst-type-c{height: 12px; float: left; padding: 0 1px;}
div.bx-sticker div.bxst-type-cont div span{font-size: 10px!important; color: #fff!important; line-height:10px!important;  cursor: pointer!important; font-family:Verdana!important;}

/* for personal - green */
div.bx-sticker div.bxst-type-pers div.bxst-type-l{background-position:  -41px -45px;}
div.bx-sticker div.bxst-type-pers div.bxst-type-r{background-position:  -41px -60px;}
div.bx-sticker div.bxst-type-pers div.bxst-type-c{background-color: #4CBC29;}
div.bx-sticker div.bxst-type-pers div.bxst-type-c-publ{display: none;}
/* for public - orange */
div.bx-sticker div.bxst-type-publ div.bxst-type-l{background-position:  -41px -15px;}
div.bx-sticker div.bxst-type-publ div.bxst-type-r{background-position:  -41px -30px;}
div.bx-sticker div.bxst-type-publ div.bxst-type-c{background-color: #EAAB00;}
div.bx-sticker div.bxst-type-publ div.bxst-type-c-pers{display: none;}

/* For LHE editor */
div.bx-sticker div.bxst-content .lhe-button-cont{background: transparent!important;}
div.bx-sticker div.bxst-content .lhe-line-begin, div.bx-sticker div.bxst-content .lhe-line-end{display: none!important;}
/* div.bx-sticker table.bxlhe-frame-table iframe.lha-iframe {margin:-10px 0 0 0 !important;} */

/* READONLY*/
div.bx-sticker-readonly div.bxst-close,
div.bx-sticker-readonly div.bxst-marker-area-but,
div.bx-sticker-readonly div.bxst-marker-elem-but,
div.bx-sticker-readonly div.bxst-color-but,
div.bx-sticker-readonly div.bxst-add-but,
div.bx-sticker-readonly div.bxst-type-cont
{display: none!important;}

div.bx-sticker-readonly div.bxst-content{cursor: default!important;}



/* Color schemes */
/* YELLOW */
div.bxst-yellow{background: #FFFCB3!important; border-color: #E5E2A1!important; border-width: 1px; border-style: solid;}
div.bxst-yellow div.bxst-header{background: #F3E987!important;}
div.bxst-yellow div.bxst-header-over{background: #ECDF71!important;}
div.bxst-yellow div.bxst-content .bxst-header-text{background: #F3E987!important;}
div.bxst-yellow div.bxst-footer{border-top: 1px solid #E5E2A1!important;}
div.bxst-yellow div.bxst-footer div.bxst-ctrl-txt span{color: #B2B07D!important;}
div.bxst-yellow div.bxst-content-area .bxst-title, div.bxst-yellow .bxst-title, div.bxst-yellow div.bxst-check-cont label{color: #7F7E59!important;}
	/* For editor */
div.bxst-yellow div.bxst-content div.bxlhe-frame{ background: #FFFCB3!important;}
div.bxst-yellow .lhe-stat-toolbar-cont { border-color: #FFFCB3 !important } 
div.bxst-yellow div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-yellow div.bxst-lhe-cont td.bxlhe-editor-cell{background: #FFFCB3 !important;}
div.bxst-yellow div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #FFFCB3!important;}
div.bxst-yellow div.bxst-content .lhe-button{border:1px solid #FFFCB3;}

/* GREEN */
div.bxst-green {background: #DBFCCD!important; border-color: #C5E2B8!important;border-width: 1px; border-style: solid;}
div.bxst-green div.bxst-header{background: #CCF2BC!important;}
div.bxst-green div.bxst-header-over{background: #C1EAAF!important;}
div.bxst-green div.bxst-content .bxst-header-text{background: #6D7E66!important;}
div.bxst-green div.bxst-content p{padding:0!important; margin: 0!important;}
div.bxst-green div.bxst-footer{border-top: 1px solid #C5E2B8!important;}
div.bxst-green div.bxst-footer div.bxst-ctrl-txt span{color: #99B08F!important;}
div.bxst-green div.bxst-content-area .bxst-title, div.bxst-green .bxst-title, div.bxst-green div.bxst-check-cont label{color: #6D7E66!important;}
	/* For editor */
div.bxst-green div.bxst-content div.bxlhe-frame{ background: #DBFCCD!important;}
div.bxst-green .lhe-stat-toolbar-cont { border-color: #DBFCCD !important } 
div.bxst-green div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-green div.bxst-lhe-cont td.bxlhe-editor-cell {background: #DBFCCD !important;}
div.bxst-green div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #DBFCCD!important;}
div.bxst-green div.bxst-content .lhe-button{border:1px solid #DBFCCD;}

/* BLUE */
div.bxst-blue {background: #DCE7F7!important; border-color: #C6CFDE!important;border-width: 1px; border-style: solid;}
div.bxst-blue div.bxst-header{background: #D2DFF3!important;}
div.bxst-blue div.bxst-header-over{background: #CBDAF1!important;}
div.bxst-blue div.bxst-content .bxst-header-text{background: #6E737B!important;}
div.bxst-blue div.bxst-footer{border-top: 1px solid #C6CFDE!important;}
div.bxst-blue div.bxst-footer div.bxst-ctrl-txt span{color: #9AA1AC!important;}
div.bxst-blue div.bxst-content-area .bxst-title, div.bxst-blue .bxst-title, div.bxst-blue div.bxst-check-cont label{color: #6E737B!important;}
	/* For editor */
div.bxst-blue div.bxst-content div.bxlhe-frame{background: #DCE7F7!important;}
div.bxst-blue .lhe-stat-toolbar-cont { border-color: #DCE7F7 !important } 
div.bxst-blue div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-blue div.bxst-lhe-cont td.bxlhe-editor-cell {background: #DCE7F7 !important;}
div.bxst-blue div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #DCE7F7!important;}
div.bxst-blue div.bxst-content .lhe-button{border:1px solid #DCE7F7;}

/* RED */
div.bxst-red {background: #FCDFDF!important; border-color: #E2C8C8!important;border-width: 1px; border-style: solid;}
div.bxst-red div.bxst-header{background: #F6D0D0!important;}
div.bxst-red div.bxst-header-over{background: #F3C8C8!important;}
div.bxst-red div.bxst-content .bxst-header-text{background: #6E737B!important;}
div.bxst-red div.bxst-footer{border-top: 1px solid #E2C8C8!important;}
div.bxst-red div.bxst-footer div.bxst-ctrl-txt span{color: #B09C9C!important;}
div.bxst-red div.bxst-content-area .bxst-title, div.bxst-red .bxst-title, div.bxst-red div.bxst-check-cont label{color: #7E6F6F!important;}
	/* For editor */
div.bxst-red div.bxst-content div.bxlhe-frame{background: #FCDFDF!important;}
div.bxst-red .lhe-stat-toolbar-cont { border-color: #FCDFDF !important } 
div.bxst-red div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-red div.bxst-lhe-cont td.bxlhe-editor-cell {background: #FCDFDF !important;}
div.bxst-red div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #FCDFDF!important;}
div.bxst-red div.bxst-content .lhe-button{border:1px solid #FCDFDF;}

/* PURPLE */
div.bxst-purple {background: #F6DAF8!important; border-color: #DDC4DF!important;border-width: 1px; border-style: solid;}
div.bxst-purple div.bxst-header{background: #EAC8ED!important;}
div.bxst-purple div.bxst-header-over{background: #E4BEE6!important;}
div.bxst-purple div.bxst-content .bxst-header-text{background: #6E737B!important;}
div.bxst-purple div.bxst-footer{border-top: 1px solid #DDC4DF!important;}
div.bxst-purple div.bxst-footer div.bxst-ctrl-txt span{color: #AC98AD!important;}
div.bxst-purple div.bxst-content-area .bxst-title, div.bxst-purple .bxst-title, div.bxst-purple div.bxst-check-cont label{color: #7B6D7C!important;}
	/* For editor */
div.bxst-purple div.bxst-content div.bxlhe-frame{background: #F6DAF8!important;}
div.bxst-purple .lhe-stat-toolbar-cont { border-color: #F6DAF8 !important } 
div.bxst-purple div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-purple div.bxst-lhe-cont td.bxlhe-editor-cell{background: #F6DAF8 !important;}
div.bxst-purple div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #F6DAF8!important;}
div.bxst-purple div.bxst-content .lhe-button{border:1px solid #F6DAF8;}

/* gray */
div.bxst-gray {background: #F5F5F5!important; border-color: #DCDCDC!important;border-width: 1px; border-style: solid;}
div.bxst-gray div.bxst-header{background: #E8E8E8!important;}
div.bxst-gray div.bxst-header-over{background: #DFDFDF!important;}
div.bxst-gray div.bxst-content .bxst-header-text{background: #7A7A7A!important;}
div.bxst-gray div.bxst-footer{border-top: 1px solid #DCDCDC!important;}
div.bxst-gray div.bxst-footer div.bxst-ctrl-txt span{color: #ABABAB!important;}
div.bxst-gray div.bxst-content-area .bxst-title, div.bxst-gray .bxst-title, div.bxst-gray div.bxst-check-cont label{color: #7A7A7A!important;}
	/* For editor */
div.bxst-gray div.bxst-content div.bxlhe-frame{background: #F5F5F5!important;}
div.bxst-gray .lhe-stat-toolbar-cont { border-color: #F5F5F5 !important } 
div.bxst-gray div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-gray div.bxst-lhe-cont td.bxlhe-editor-cell {background: #F5F5F5 !important;}
div.bxst-gray div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #F5F5F5!important;}
div.bxst-gray div.bxst-content .lhe-button{border:1px solid #F5F5F5;}

/* LHE editor*/
div.bxst-lhe-cont{position: absolute!important;top: -1000px;left: -1000px;}
div.bx-sticker div.bxst-content div.bxst-lhe-cont{position: static!important;}

/* Content area */
div.bxst-content-area{padding: 5px 5px 5px 21px !important; position:relative;top:0px;}

div.bxst-content-area, div.bxst-content-area *{font-size: 12px!important; font-family:Verdana!important;}
div.bxst-content-area .bxst-title{font-size: 11px!important; font-family:Verdana!important; margin:0 0 0 -7px !important;line-height:18px!important;}

div.bx-sticker-overlay{position: absolute; border:1px solid #d1d1d1; background: #d1d1d1; display: none;}
div.bx-sticker-op-0{filter: alpha(opacity=25); opacity: 0.25; display: block!important;}
div.bx-sticker-op-1{filter: alpha(opacity=50); opacity: 0.50; display: block!important;}
div.bx-sticker-op-2{filter: alpha(opacity=75); opacity: 0.75; display: block!important;}
div.bx-sticker-op-3{display: block!important;}
div.bxst-blink-red{position: absolute; border:1px solid #ff8000; background: #ff8000; display: none;}
#bx-panel .bxst-close-notify-link{text-decoration: underline!important; color: #3F93C7!important; cursor: pointer!important;}


/* Collapsed sticker*/
div.bx-sticker div.bxst-header div.bxst-col-title-cont{float: left;margin:1px 2px 0 2px; height: 16px; display: none; overflow: hidden;line-height:15px!important; padding: 0!important;}
div.bxst-collapsed div.bxst-content, div.bxst-collapsed div.bxst-footer{display: none;}
div.bxst-collapsed div.bxst-collapse img{background-position: -15px -75px!important;}
div.bxst-collapsed div.bxst-type-c span{display: none!important;} /* small type indicator*/
div.bxst-collapsed div.bxst-type-c{width: 6px!important; padding: 0!important;} /* small type indicator*/

div.bxst-collapsed div.bxst-check-cont{margin: 0 1px!important;}
div.bxst-collapsed div.bxst-check-cont label{display: none!important;} /* hide checkbox label*/

div.bxst-collapsed div.bxst-type-cont{margin: 3px 2px 0 3px!important;} /* hide checkbox*/
div.bxst-collapsed div.bxst-col-title-cont{display: block!important;} /* show collapsed title*/
div.bxst-collapsed div.bxst-col-title-cont .bxst-title{font-size: 12px!important; font-family:Verdana!important; display: inline!important;} /* show collapsed title*/

div.bxst-marker-overlay{height:100%; width:100%; left: 0; top: 0; z-index: 790; position: absolute; -moz-user-select: none !important; display: none; background-color:#FFFFFF; filter: gray() alpha(opacity=20); -moz-opacity: 0.2; opacity: 0.2; cursor: url(/bitrix/images/fileman/crosshair.cur), crosshair!important;}

div.bxst-cursor-hint{left: 500px; top: 200px; z-index: 792; position: absolute; display: none; padding: 4px 5px!important; margin: 0!important;font-size:11px!important; font-family: Tahoma, Arial, Verdana, Sans-Serif!important; color:black!important; background-color: #ffffce!important; border:1px solid #858585!important; overflow: visible; line-height:normal; font-weight:normal; letter-spacing:normal !important; font-variant:normal !important; font-style:normal !important; text-indent:0 !important; word-spacing:normal !important; text-align:left !important;}


div.bxst-sticker-marker{position: absolute; filter: alpha(opacity=40); opacity: 0.4; border-width: 1px; border-style: solid; display: none;}
div.bxst-cur-marker{position: absolute; filter: alpha(opacity=70); opacity: 0.7; display: none; border-width: 1px; border-style: solid;}
div.bxst-marker-over{filter: alpha(opacity=40); opacity: 0.4; border-width: 2px; border-style: solid; display: block !important;}

.bxst-sicked{border: 2px solid #ff8000!important;}
div.bx-sticker .bxst-sicked{border-width: 0!important;}

/* Color picker */
div.bxst-col-sel{position: absolute; /* top: 500px; left: 500px; */ width: 43px; background: #c0c0c0; height: 64px; display: block;}
div.bxst-col-sel span.bxst-col-pic {display: block; width: 18px; height: 18px; padding: 0!important; margin: 1px 0 0 1px!important; float: left; cursor: pointer!important;}

div.bxst-col-sel span.bxst-yellow{background: #FFFCB3!important;border: 1px solid #E5E2A1!important;}
div.bxst-col-sel span.bxst-green {background: #DBFCCD!important;border: 1px solid #C5E2B8!important;}
div.bxst-col-sel span.bxst-blue {background: #DCE7F7!important;border: 1px solid #C6CFDE!important;}
div.bxst-col-sel span.bxst-red {background: #FCDFDF!important;border: 1px solid #E2C8C8!important;}
div.bxst-col-sel span.bxst-purple {background: #F6DAF8!important;border: 1px solid #DDC4DF!important;}
div.bxst-col-sel span.bxst-gray {background: #F5F5F5!important;border: 1px solid #DCDCDC!important;}

div.bxst-trans-overlay{height:100%; width:100%; left: 0; top: 0; position: absolute; -moz-user-select: none !important; display: none; background-color:#FFFFFF; filter: gray() alpha(opacity=01); -moz-opacity: 0.01; opacity: 0.01;}


/* STICKER LIST STYLES*/
div.bxst-list{}
div.bxst-list table{border-collapse: collapse!important;}
div.bxst-list table td{padding: 0!important;}
div.bxst-list div.bxst-list-filter{margin: 0 0 35px 0!important;}
div.bxst-list div.bxst-list-filter table.bxst-list-filter-tbl{border-collapse: collapse!important;}
div.bxst-list div.bxst-list-filter table td {background: transparent!important; padding: 0!important;}
div.bxst-list div.bxst-list-filter table tr.bxst-list-filter-titles td{background: transparent!important; border-width: 0!important;}
div.bxst-list div.bxst-list-filter table tr.bxst-list-filter-titles td div {margin: 5px 0 4px 6px!important; padding: 0!important;}
div.bxst-list div.bxst-list-filter table tr.bxst-list-filter-controls td{padding: 3px 5px 0 0!important;}
div.bxst-list div.bxstl-fil-cont-c{margin: 4px 5px; border-width: 0 1px 0 0!important; border-style: solid; border-color:#E5E5E5;}
div.bxst-list div.bxstl-fil-cont{margin: 8px 5px 0 5px;}

div.bxst-list  div.bxst-list-filter-hr{height: 1px; background: #E5E5E5!important; margin:0 5px 0 0; padding: 0!important; position: relative; top: 24px; line-height: 1px!important; overflow: hidden!important;}
div.bxst-list  img.bxst-list-filter-hr{height: 1px; background: #f00!important; margin:0 5px 0 0; position: relative; top: 24px; width: 200px;}

/* Buttons in filter section */
div.bxstl-but{margin: 3px 1px!important; padding: 0!important;  cursor: pointer!important;}
div.bxstl-but div.bxstl-but-l, div.bxstl-but div.bxstl-but-r{margin: 0!important; padding: 0!important; width: 3px; height: 18px!important; display: none; background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important;}

div.bxstl-but div.bxstl-but-l{float: left; background-position: -20px -142px;}
div.bxstl-but div.bxstl-but-r{float: right; background-position: -26px -142px;}

div.bxstl-but div.bxstl-but-c{margin: 0 3px; padding: 0 3px!important; float: left; background: transparent; height: 18px!important;}
div.bxstl-but div.bxstl-but-c span{line-height: 16px!important; font-size: 13px!important; font-family:Verdana !important; color:#000!important; cursor: pointer!important; text-decoration: underline;}

/* Checked buttons */
div.bxstl-but-checked div.bxstl-but-l, div.bxstl-but-checked div.bxstl-but-r{display: block!important;}
div.bxstl-but-checked div.bxstl-but-l, div.bxstl-but-checked div.bxstl-but-r{display: block!important;}
div.bxstl-but-checked div.bxstl-but-c{background: url(/bitrix/images/fileman/stickers_sprite.png) transparent 0 -167px repeat-x!important; margin: 0!important;}
div.bxstl-but-checked div.bxstl-but-c span{text-decoration:none!important;}

/* filter color */
div.bxst-list div.bxst-list-color-cont{width: 145px; height: 24px;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick{width: 18px; height: 18px; cursor: pointer!important; float: left; margin:6px 2px 2px!important; padding: 0!important;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-l, div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-r{width: 3px; height: 18px; display: none; background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-l{float: left; background-position: -10px -142px;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-r{float: right; background-position: -15px -142px;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-c{height: 18px; background: transparent; float: left; margin: 0 3px; padding: 0!important; overflow: hidden!important; line-height: 1px!important;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-c div{height: 10px; width: 10px; margin: 3px 0 0 0; padding: 0!important; overflow: hidden!important; line-height: 1px!important;}

div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick-ch div.bxstl-col-pic-l, div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick-ch div.bxstl-col-pic-r{display: block!important;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick-ch div.bxstl-col-pic-c{background: url(/bitrix/images/fileman/stickers_sprite.png) transparent 0 -186px repeat-x!important; margin: 0!important;}



/* Stickers table */
div.bxst-list-items{overflow: auto; width: 100%;}
div.bxst-list-items table{border-collapse: collapse!important; width: 100%; table-layout: fixed;}
div.bxst-list-items table td{padding: 0!important;}
div.bxst-list-items table tr.bxst-list-header td{background: #E5E5E5!important; vertical-align: top!important;}
div.bxst-list-items table tr.bxst-list-header td div.bxstl-h-div{margin:7px 10px 7px 10px!important; font-family: Verdana; font-size: 11px; float: left; white-space: nowrap!important;}
div.bxst-list-items table tr.bxst-list-item td {padding: 4px 10px 4px 10px !important; font-family: Verdana; font-size: 12px;}
div.bxst-list-items table tr.bxst-list-item td.bxst-list-it-link a, div.bxst-list-items table tr.bxst-list-item td nobr{ display: block; color: #000!important; text-decoration: none; -o-text-overflow: ellipsis; text-overflow: ellipsis; -moz-binding: url('/bitrix/js/fileman/text-overflow.xml#ellipsis'); overflow:hidden; white-space: nowrap; }
div.bxst-list-items table tr.bxst-list-item td.bxst-list-it-link a.bxst-list-it-path{color: #666666!important;}
div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td, div.bxst-list  div.bxst-list-items table tr.bxst-list-item-closed td *, div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td a, div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td nobr, div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td a.bxst-list-it-path, div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td.bxst-id-cell a{color: #B0B0B0!important;}
div.bxst-list-items table tr.bxst-list-header td.bxst-id-cell div{text-align:center;}
div.bxst-list-items table tr.bxst-list-item td.bxst-id-cell {text-align: center;}
div.bxst-list-items table tr.bxst-list-item td.bxst-id-cell a{color: #3F93C7;}
div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td.bxst-id-cell a{text-decoration: line-through!important;}

div.bxst-list-items table tr.bxst-list-item td{background: transparent!important; border-width: 0 0 1px 0!important; border-style: solid!important; border-color:#E5E5E5!important; padding: 5px 3px 3px 10px;}

div.bxst-list-items table tr.bxst-list-item div.bxstl-color-ind{width: 18px!important; height: 18px!important; margin: 5px 4px;}
div.bxst-list div.bxst-list-action{float: right; margin: 15px 15px 0 0;}

/* Completed icon*/
tr.bxst-list-item div.bxstl-compl-icon{width: 12px; height: 10px; background-position: -10px -209px; visibility: hidden; float: right; margin:-20px -8px 0 0;}
tr.bxst-list-item td.bxstl-completed div.bxstl-compl-icon{visibility: visible!important;}
div.bxst-list-items tr.bxst-list-item-closed td.bxst-id-cell {text-decoration: line-through!important;}

/* NAVIgation section*/
div.bxst-list div.bxst-list-navi{float: left; margin: 15px 0 0 2px;}
div.bxstl-navi-prev-next-cnt a{font-size: 14px!important; font-family: Verdana!important; margin: 0 5px 0 3px!important; color: #3F93C7!important;}
div.bxstl-navi-pages-cnt{margin: 5px 0 0 0!important;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur, div.bxstl-navi-pages-cnt a.bxstl-navi-item{display: block; float: left; font-size: 14px!important; font-family: Verdana!important; color: #3F93C7!important; margin: 0 4px!important;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-l, div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-r{width: 3px; height: 18px; background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important;}

div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur {width: 20px;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-l{float: left; background-position: -20px -142px;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-r{float: right; background-position: -26px -142px;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-c{height: 18px; float: left; background: url(/bitrix/images/fileman/stickers_sprite.png) transparent 0 -167px repeat-x!important; margin: 0!important; padding: 0 2px!important; cursor: default!important; font-weight: bold!important; color: #000!important;}

div.bxstl-no-stickers{margin: 20px 25px; font-family: Verdana; font-size: 14px; color: #666666!important;}
div.bxstl-sep{width: 1px!important; height:18px !important; margin:5px 0 0 0!important;  background-color: #CECECE; float:right;}

div.bxst-marker-res-cont{position: absolute;top:0;left:0;width: 1px; height:1px; z-index: 750;}
div.bxst-marker-res-t, div.bxst-marker-res-b, div.bxst-marker-res-l, div.bxst-marker-res-r{background: transparent!important; border: 0!important; position: absolute; z-index: 750;}
div.bxst-marker-res-t, div.bxst-marker-res-b{height: 10px!important;}
div.bxst-marker-res-l, div.bxst-marker-res-r{cursor:n-resize !important; width: 10px!important;}

div.bxst-marker-res-t{cursor:n-resize !important;}
div.bxst-marker-res-b{cursor:s-resize !important;}
div.bxst-marker-res-l{cursor:w-resize !important;}
div.bxst-marker-res-r{cursor:e-resize !important;}

div.bxst-marker-res-lt, div.bxst-marker-res-rt, div.bxst-marker-res-lb, div.bxst-marker-res-rb{background: transparent!important; border: 0!important; position: absolute; z-index: 750; width: 10px; height: 10px;}

div.bxst-marker-res-lt{cursor:nw-resize !important;}
div.bxst-marker-res-rt{cursor:ne-resize !important;}
div.bxst-marker-res-lb{cursor:sw-resize !important;}
div.bxst-marker-res-rb{cursor:se-resize !important;}















/* End */
