
/* Start:/bitrix/components/bitrix/main.feedback/templates/.default/style.css*/
div.mfeedback {}
div.mf-name, div.mf-email, div.mf-captcha, div.mf-message {width:80%; padding-bottom:0.4em;}
div.mf-name input, div.mf-email input {width:60%;}
div.mf-message textarea {width: 60%;}
span.mf-req {color:red;}
div.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}
/* End */

/* Start:/bitrix/components/bitrix/map.google.system/templates/.default/style.css*/
.bx-google-map {color: black;}
/* End */
