


/* Start:/bitrix/components/bitrix/menu/templates/horizontal_multilevel/style.css*/
/**Top menu**/
#horizontal-multilevel-menu,#horizontal-multilevel-menu ul
{
	margin:0; padding:0;
	background:#BC262C url('/bitrix/components/bitrix/menu/templates/horizontal_multilevel/images/header_menu_bg.gif') repeat-x;
	min-height:27px;
	width:100%;
	list-style:none;
	font-size:11px;
	float:left;
	/*font-size:90%*/
}

#horizontal-multilevel-menu
{
	
}

/*Links*/
#horizontal-multilevel-menu a
{
	display:block;
	padding:5px 10px;
	/*padding:0.3em 0.8em;*/
	text-decoration:none;
	text-align:center;
}

#horizontal-multilevel-menu li 
{
	float:left;
}

/*Root items*/
#horizontal-multilevel-menu li a.root-item
{
	color:#fff;
	font-weight:bold;
	padding:7px 12px;
}

/*Root menu selected*/
#horizontal-multilevel-menu li a.root-item-selected
{
	background:#fc8d3d;
	color:#fff;
	font-weight:bold;
	padding:7px 12px;
}

/*Root items: hover*/
#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item
{
	background:#e26336;
	color:#fff;
}

/*Item-parents*/
#horizontal-multilevel-menu a.parent
{
	background: url('/bitrix/components/bitrix/menu/templates/horizontal_multilevel/images/arrow.gif') center right no-repeat;
}

/*Denied items*/
#horizontal-multilevel-menu a.denied
{
	background: url('/bitrix/components/bitrix/menu/templates/horizontal_multilevel/images/lock.gif') center right no-repeat;
}

/*Child-items: hover*/
#horizontal-multilevel-menu li:hover, #horizontal-multilevel-menu li.jshover
{
	background:#D6D6D6;
	color:#fff;
}

/*Child-items selected*/
#horizontal-multilevel-menu li.item-selected
{
	background:#D6D6D6;
	color:#fff;
}

/*Sub-menu box*/
#horizontal-multilevel-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;

	height:auto;
	/*width:12em;*/
	width:135px;
	background:#F5F5F5;
	border:1px solid #C1C1C1;
}

/*Sub-menu item box*/
#horizontal-multilevel-menu li li 
{
	width:100%;
	border-bottom:1px solid #DEDEDE;
}

/*Item link*/
#horizontal-multilevel-menu li ul a
{
	text-align:left;
}

/*Items text color & size */
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a
{
	color:#4F4F4F;
	font-weight:bold;
}

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	color:#4F4F4F;
}

#horizontal-multilevel-menu li ul ul
{
	margin:-27px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}
/* End */



/* Start:/bitrix/templates/furniture_pale-blue/styles.css*/
﻿img {border:0 none;}

h1, h2, h3, h4, h5, h6
{
	font-family: Arial, Helvetica,sans-serif; 
	margin:1.3em 0 1em;
	font-weight:normal;
	line-height:1.2;
}

h1 { font-size:200%; margin:0 0 1em; }
h2 { font-size:160%; }
h3 { font-size:140%; }
h4 { font-size:140%; }
h5 { font-size:120%; }
h6 { font-size:100%; }

hr, .hr 
{
	border-top:1px solid;
	display:block;
	font-size:1px;
	height:1px;
	line-height:1px;
	margin:12px 0;
	overflow:hidden;
	padding:0;
}

#workarea ol li, #workarea ul li { margin: 0.6em 0; }
#workarea ul { list-style-type: disc; }
/* End */



/* Start:/bitrix/templates/furniture_pale-blue/template_styles.css*/
html { width:100%; height: 100%; }

body
{
	height:100%;
	margin:0;
	padding:0;
	font-size: 80.01%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

form { margin:0; padding:0;}
form.main-form
{ 
	display: block;
	margin:0; 
	padding:0;
	width:100%;
	height:100%;
}
 
#page-wrapper
{	
	min-height:100%;	
	/*width:878px;*/  
	margin: 0 auto -90px;
}

* html #page-wrapper { height: 100%; }

#header { height: 106px; position: relative; z-index: 10; width:878px; margin:0 auto;}

#top-menu
{
	position: absolute;
	top: 46px;
	width: 638px;
	height: 30px;
	right: 0;
	
}

#top-menu-inner
{
	margin-left: 16px;
	padding-right: 16px;
	height: 30px;
}

#logo 
{
	width: 235px; 
	height: 100px;
	position:absolute;
	left:0;
	top:0;
	text-align: center;
}

#logo td { padding: 0;}
#logo a { outline: none;}

#top-icons { overflow: hidden; height: 15px; position: absolute; top: 17px; width: 200px; left: 252px; }
#top-icons a 
{
	float: left;
	margin-right: 31px;
}

a.home-icon { width: 12px; height: 11px;}
a.search-icon { width: 12px; height: 12px;}
a.feedback-icon { width: 14px; height: 10px;}

#banner { margin:0 auto; width:878px; height: 153px;  position: relative; }
#banner-layout { height: 142px;  table-layout: fixed; }
#banner-overlay { height: 153px; position: absolute; width:437px; left:0; top: 0;}
#banner-image { padding:0; width: 437px; vertical-align: top;}
#banner-image div { width: 437px; height: 142px; overflow: hidden;}
#banner-slogan 
{
	padding:0;
	width: 441px;	
	font-family: Arial; 
	font-style: italic; 
	font-size: 2em; 
	font-weight: bold;
	padding:10px 0 32px;
}

#content { width:878px; overflow: hidden; margin: 20px auto 29px; zoom: 1;}

#sidebar { width: 233px; float: left; }

#workarea { padding-top:10px; width:612px; float: right;}

#footer  
{
	background: #F5F5F5 url('/bitrix/templates/furniture_pale-blue/images/footer-corner.gif') no-repeat left top;
	height: 90px; 
	width:878px; 
	margin:0 auto;  
	position: relative;
}

#copyright { width: 49%; position: absolute; top: 20px; left: 25px;}
#copyright p { margin: 0;}
.footer-links { width:50%; position:absolute; right:25px; top: 20px; }
#footer-links { margin:0; padding:0; list-style: none; text-align: right;}
#footer-links li { display: inline; padding-left:1.5em;}

#space-for-footer { height: 90px; }

#footer-design { width:300px; position:absolute; right:25px; top: 52px;  text-align: right;}
#footer-design a{color:#757575; font-size:11px; text-decoration:none;}
#footer-design a:hover{text-decoration:underline;}

div.content-block { margin-bottom: 24px; }
div.content-block-inner { padding: 22px 18px 22px 21px;}

div.information-block div.top
{
	height: 13px;
	border-right: 1px solid;
	font-size: 1px;
	background: #FFF url('/bitrix/templates/furniture_pale-blue/images/sidebar-corners-form.gif') no-repeat left top;
}

div.information-block div.bottom
{
	height: 13px;
	border-left: 1px solid;
	font-size: 1px;
	background: #FFF url('/bitrix/templates/furniture_pale-blue/images/sidebar-corners-form.gif') no-repeat right bottom;
}

div.information-block-inner
{
	border-left: 1px solid;
	border-right: 1px solid;
	padding: 9px 18px 9px 21px;
	zoom: 1;
}

div.information-block div.top, div.information-block div.bottom, div.information-block-inner { border-color: #E3E3E3; }

#search {  width:190px; overflow: hidden;}
#search div.rounded-box { float: left; width:135px;}
#search div.search-inner-box
{
	border: 1px solid; 
	padding-left: 20px;
	height: 20px;
	overflow:hidden;
	background: white url('/bitrix/templates/furniture_pale-blue/images/loupe.gif') no-repeat 4px 4px;
}

#search div.search-inner-box input
{
	border:1px solid;
	width: 110px;
	height: 18px;
	padding:0;
	margin:0;
}

#search input { vertical-align: top;}
#search-button { float: right; width:48px; border: 1px solid;}
#search-button input::-moz-focus-inner { border: 0; padding: 0; }/*Remove button padding in FF*/
#search-button input 
{
	display: block;
	border: none;
	background: none;
	width:48px;
	padding:0;
	margin:0;
	font-family: Georgia, serif;
	font-size: 12px;
	height: 19px;
	cursor: pointer;
	cursor: hand;
	outline: none;	
}

div.search-item h4 { margin-bottom: 0.4em;}

dl.block-list { margin: 0; padding:0; font-size: 0.85em;}
dl.block-list dt { margin: 1.5em 0 0.5em; }
dl.block-list dd { margin:0; padding:0;}
dl.block-list a { text-decoration: none; outline: none;}
dl.block-list a:hover { text-decoration: underline;}

#sidebar h3  
{
	font-family: Verdana;
	font-size: 1em;
	font-weight: bold;
	padding: 0 0 1em;
	margin: 0 0 1em;
}

#left-menu
{
	margin:0;
	padding:0;
	list-style: none;
}

#left-menu li
{
	margin:0 0 0.7em;
	padding: 0 0 0.7em;
	display: block;
}

#left-menu a
{
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;	
	padding: 1em 1em 1em 0;
	outline: none;
}

#left-menu li.last-item { background: none; margin-bottom: 0; padding-bottom: 0;}
#left-menu li.selected a { padding-left: 1em; }
#left-menu li.selected { text-indent: -1em; padding-left:1em;}

/* Navigation */
div.navigation { font-size:100%; line-height:200%; }
span.navigation-title { padding-right:0.65em; font-weight: bold;}
div.navigation a { text-decoration:underline; padding:0.2em 0.3em;}
span.nav-current-page { padding:0.2em 0.3em; }
div.navigation span.arrow { font-size:100%; font-family:Times, serif; }
div.navigation span.ctrl { font-size:85%; }

/* Product List */
div.product-list { overflow: hidden; }

div.product
{ 
	overflow: hidden; 
	width: 280px;
	height: 105px;
	margin: 0 25px 20px 0;
	position: relative;
	float: left;
}

div.product-alt { margin-right: 0;}

div.product-image
{
	width: 250px;
	height: 105px;
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	top:0;
	left: 0;	
}

div.product-overlay
{
	width: 280px;
	height: 105px;
	position: absolute;
	z-index: 1;	
}

a.product-desc
{
	float:right;
	height:62px;
	overflow:hidden;
	position:absolute;
	right:0;
	top:0px;
	width:142px;
	z-index:2;
	font-size: 1em;
	text-decoration: none;
	padding:13px 10px 30px 129px;
}

a.product-desc p { font-size: 0.85em; margin:7px 0 0;}

/* News List */
div.news-list { margin: 0 0 2em;}
div.news-item { margin: 0 0 2em; padding: 0 0 2em; border-bottom: 1px solid; }
div.news-date { margin: 0 0 1em;}
div.news-title { font-size: 1em; margin: 0 0 1em;  font-weight: bold;}
a.news-detail-link { display: block; margin: 1em 0 0; outline: none;}

/* Catalog List */
div.catalog-list, div.catalog-detail  { padding: 1em 0 0;}
div.catalog-item { margin: 0 0 2em; padding: 0 0 2em; border-bottom: 1px solid; overflow: hidden; zoom: 1;}
div.catalog-detail div.catalog-item { border: none; }
div.catalog-item-title { margin: 0 0 1em;}
div.catalog-item-title a { font-weight: bold; }

div.catalog-item-image { float: left; margin: 0 1em 1em 0; border:1px solid; padding: 4px; }
div.catalog-item-price {clear: left; float:left; padding: 0.5em 1em; margin:1em 0 0; font-weight: bold; }
div.catalog-item-desc { clear: left; }
div.catalog-item-desc-float { }
div.catalog-item-properties { clear: both; padding: 1em 0 0;  overflow: hidden;}
div.catalog-item-property { margin: 0 0 1em; border-bottom:1px dashed; float: left; width: 100%;}
div.catalog-item-property b { float: right; position: relative; top: 0.31em; padding-left: 3px; font-style:italic; font-weight:normal; }
div.catalog-item-property span { float: left; position: relative; top: 0.31em; padding-right: 3px; zoom: 1;}
div.catalog-item-properties-title { font-size: 1em; font-weight: bold; margin: 2em 0 1em; }

/* Special Product */
div.special-product-title { text-align: center; margin: 0 0 1em;}
div.special-product-image { text-align: center; margin: 0 0 1em;}
div.special-product { text-align: center; }

/* Top menu */
#horizontal-multilevel-menu, #horizontal-multilevel-menu ul
{
	margin:0; padding:0;
	min-height:27px;
	width:100%;
	list-style:none;
	font-size:12px;
	float:left;
	background: none;
}

#horizontal-multilevel-menu a
{
	display:block;
	padding:5px 3px;
	text-decoration:none;
	text-align:center;
	outline: none;
}

#horizontal-multilevel-menu li { float:left; }
#horizontal-multilevel-menu li a.root-item { font-weight:bold; padding:8px 12px 8px; } /*Root items*/
#horizontal-multilevel-menu a.parent { background: url('/bitrix/templates/furniture_pale-blue/images/top-menu-arrow.gif') center right no-repeat; } /*Item-parents*/
#horizontal-multilevel-menu li a.root-item-selected { font-weight:bold; padding:8px 12px 8px; } /*Root menu selected*/
#horizontal-multilevel-menu li.last-item { border: none; }

/*Sub-menu box*/
#horizontal-multilevel-menu li ul
{
	position:absolute;
	top:auto;
	display:none;
	z-index:500;
	height:auto;
	width:163px;
	padding: 3px 11px;
	border:1px solid;
}

#horizontal-multilevel-menu li li { width:100%; border-bottom:1px solid; } /*Sub-menu item box*/
#horizontal-multilevel-menu li ul a { text-align:left; font-size: 12px;} /*Item link*/
#horizontal-multilevel-menu li ul ul { margin:-27px 0 0 160px; }

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul
{
	display:none;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li li:hover ul
{
	display:block;
}

div.menu-clear-left { clear:left; }

/*Common Elements */
div.content-form { padding-left:1em; }
/* End */



/* Start:/bitrix/js/fileman/sticker.css*/
div.bx-sticker{position: absolute;top: 0;left: 0; overflow:hidden; border-width: 1px; border-style: solid;}
div.bx-sticker div.bxst-header{height: 19px;}
div.bx-sticker div.bxst-content{overflow: hidden; cursor: pointer;}
div.bx-sticker div.bxst-footer{height: 24px; overflow:hidden;}
div.bx-sticker .bxst-sprite, .bxst-sprite{background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important;}
body div.bx-sticker-over{border-width: 2px!important;}

/* Shadow*/
div.bxst-shadow{position: absolute;top: 0; left: 0; filter: gray() alpha(opacity=20); opacity: 0.2; background: #000; border: 1px solid #000!important;}

div.bxst-completed {filter: alpha(opacity=80)!important;opacity: 0.8!important;}
div.bxst-completed div.bxst-content-area{/* text-decoration: line-through!important; */ }

/* Controls and buttons*/
div.bx-sticker div.bxst-header div.bxst-check-cont{float: left;margin:0 4px;}
div.bx-sticker div.bxst-header div.bxst-check-cont input{float: left;display: block;}
div.bx-sticker div.bxst-header div.bxst-check-cont label{display:block; float:left; margin:3px 5px 0 0!important; font-size:10px!important;}
div.bx-sticker div.bxst-header div.bxst-type-cont{float: right; margin:3px 4px 0 0; cursor: pointer;}
div.bx-sticker div.bxst-header div.bxst-but{float: right; margin:4px 4px 0 0;}
div.bx-sticker div.bxst-header div.bxst-but img{width: 12px;height: 12px; cursor: pointer;}
div.bx-sticker div.bxst-header div.bxst-collapse img{background-position: -15px -34px;}
div.bx-sticker div.bxst-header div.bxst-close img{background-position:  -15px -14px;}
div.bx-sticker div.bxst-footer div.bxst-marker-area-but, div.bx-sticker div.bxst-footer div.bxst-marker-elem-but{float: left; margin: 3px 2px 0;}
div.bx-sticker div.bxst-footer div.bxst-marker-area-but{margin-left: 5px!important;}
div.bx-sticker div.bxst-footer div.bxst-ctrl-txt span{font-size: 10px; text-decoration: underline; cursor: pointer;font-family:Verdana!important;}
div.bx-sticker div.bxst-footer div.bxst-color-but, div.bx-sticker div.bxst-footer div.bxst-add-but{float: left; margin: 4px 0 0 6px;  cursor: pointer;}
div.bx-sticker div.bxst-footer div.bxst-resizer{float: right; margin:12px 0 0;}
div.bx-sticker div.bxst-footer div.bxst-marker-area-but img{width: 19px;height: 19px;cursor: pointer; background-position:  -9px -101px;}
div.bx-sticker div.bxst-footer div.bxst-marker-area-but img.bxst-pressed{background-position:  -9px -120px;}
div.bx-sticker div.bxst-footer div.bxst-marker-elem-but img{width: 19px;height: 19px;cursor: pointer; background-position:  -31px -101px;}
div.bx-sticker div.bxst-footer div.bxst-marker-elem-but img{width: 19px;height: 19px;cursor: pointer; background-position:  -31px -101px;}
div.bx-sticker div.bxst-footer div.bxst-marker-elem-but img.bxst-pressed{background-position:  -31px -120px;}
div.bx-sticker div.bxst-footer div.bxst-resizer img{width: 12px;height: 12px; cursor: se-resize; background-position:  -14px -45px;}
div.bx-sticker div.bxst-id-cont{display:none; float:left; margin:2px 0 0 4px!important; font-size:10px!important; cursor: default!important;}

div.bx-sticker div.bxst-footer div.bxst-info-icon{float: right; margin: 3px 10px 0 0;}
div.bx-sticker div.bxst-footer div.bxst-info-icon img{width: 19px;height: 19px; background-position:  -60px -101px;}

/*type selector*/
div.bx-sticker div.bxst-type-cont div.bxst-type-corn{float: left; width: 3px; height: 12px; background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important; cursor: pointer!important;}
div.bx-sticker div.bxst-type-cont div.bxst-type-c{height: 12px; float: left; padding: 0 1px;}
div.bx-sticker div.bxst-type-cont div span{font-size: 10px!important; color: #fff!important; line-height:10px!important;  cursor: pointer!important; font-family:Verdana!important;}

/* for personal - green */
div.bx-sticker div.bxst-type-pers div.bxst-type-l{background-position:  -41px -45px;}
div.bx-sticker div.bxst-type-pers div.bxst-type-r{background-position:  -41px -60px;}
div.bx-sticker div.bxst-type-pers div.bxst-type-c{background-color: #4CBC29;}
div.bx-sticker div.bxst-type-pers div.bxst-type-c-publ{display: none;}
/* for public - orange */
div.bx-sticker div.bxst-type-publ div.bxst-type-l{background-position:  -41px -15px;}
div.bx-sticker div.bxst-type-publ div.bxst-type-r{background-position:  -41px -30px;}
div.bx-sticker div.bxst-type-publ div.bxst-type-c{background-color: #EAAB00;}
div.bx-sticker div.bxst-type-publ div.bxst-type-c-pers{display: none;}

/* For LHE editor */
div.bx-sticker div.bxst-content .lhe-button-cont{background: transparent!important;}
div.bx-sticker div.bxst-content .lhe-line-begin, div.bx-sticker div.bxst-content .lhe-line-end{display: none!important;}
/* div.bx-sticker table.bxlhe-frame-table iframe.lha-iframe {margin:-10px 0 0 0 !important;} */

/* READONLY*/
div.bx-sticker-readonly div.bxst-close,
div.bx-sticker-readonly div.bxst-marker-area-but,
div.bx-sticker-readonly div.bxst-marker-elem-but,
div.bx-sticker-readonly div.bxst-color-but,
div.bx-sticker-readonly div.bxst-add-but,
div.bx-sticker-readonly div.bxst-type-cont
{display: none!important;}

div.bx-sticker-readonly div.bxst-content{cursor: default!important;}



/* Color schemes */
/* YELLOW */
div.bxst-yellow{background: #FFFCB3!important; border-color: #E5E2A1!important; border-width: 1px; border-style: solid;}
div.bxst-yellow div.bxst-header{background: #F3E987!important;}
div.bxst-yellow div.bxst-header-over{background: #ECDF71!important;}
div.bxst-yellow div.bxst-content .bxst-header-text{background: #F3E987!important;}
div.bxst-yellow div.bxst-footer{border-top: 1px solid #E5E2A1!important;}
div.bxst-yellow div.bxst-footer div.bxst-ctrl-txt span{color: #B2B07D!important;}
div.bxst-yellow div.bxst-content-area .bxst-title, div.bxst-yellow .bxst-title, div.bxst-yellow div.bxst-check-cont label{color: #7F7E59!important;}
	/* For editor */
div.bxst-yellow div.bxst-content div.bxlhe-frame{ background: #FFFCB3!important;}
div.bxst-yellow .lhe-stat-toolbar-cont { border-color: #FFFCB3 !important } 
div.bxst-yellow div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-yellow div.bxst-lhe-cont td.bxlhe-editor-cell{background: #FFFCB3 !important;}
div.bxst-yellow div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #FFFCB3!important;}
div.bxst-yellow div.bxst-content .lhe-button{border:1px solid #FFFCB3;}

/* GREEN */
div.bxst-green {background: #DBFCCD!important; border-color: #C5E2B8!important;border-width: 1px; border-style: solid;}
div.bxst-green div.bxst-header{background: #CCF2BC!important;}
div.bxst-green div.bxst-header-over{background: #C1EAAF!important;}
div.bxst-green div.bxst-content .bxst-header-text{background: #6D7E66!important;}
div.bxst-green div.bxst-content p{padding:0!important; margin: 0!important;}
div.bxst-green div.bxst-footer{border-top: 1px solid #C5E2B8!important;}
div.bxst-green div.bxst-footer div.bxst-ctrl-txt span{color: #99B08F!important;}
div.bxst-green div.bxst-content-area .bxst-title, div.bxst-green .bxst-title, div.bxst-green div.bxst-check-cont label{color: #6D7E66!important;}
	/* For editor */
div.bxst-green div.bxst-content div.bxlhe-frame{ background: #DBFCCD!important;}
div.bxst-green .lhe-stat-toolbar-cont { border-color: #DBFCCD !important } 
div.bxst-green div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-green div.bxst-lhe-cont td.bxlhe-editor-cell {background: #DBFCCD !important;}
div.bxst-green div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #DBFCCD!important;}
div.bxst-green div.bxst-content .lhe-button{border:1px solid #DBFCCD;}

/* BLUE */
div.bxst-blue {background: #DCE7F7!important; border-color: #C6CFDE!important;border-width: 1px; border-style: solid;}
div.bxst-blue div.bxst-header{background: #D2DFF3!important;}
div.bxst-blue div.bxst-header-over{background: #CBDAF1!important;}
div.bxst-blue div.bxst-content .bxst-header-text{background: #6E737B!important;}
div.bxst-blue div.bxst-footer{border-top: 1px solid #C6CFDE!important;}
div.bxst-blue div.bxst-footer div.bxst-ctrl-txt span{color: #9AA1AC!important;}
div.bxst-blue div.bxst-content-area .bxst-title, div.bxst-blue .bxst-title, div.bxst-blue div.bxst-check-cont label{color: #6E737B!important;}
	/* For editor */
div.bxst-blue div.bxst-content div.bxlhe-frame{background: #DCE7F7!important;}
div.bxst-blue .lhe-stat-toolbar-cont { border-color: #DCE7F7 !important } 
div.bxst-blue div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-blue div.bxst-lhe-cont td.bxlhe-editor-cell {background: #DCE7F7 !important;}
div.bxst-blue div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #DCE7F7!important;}
div.bxst-blue div.bxst-content .lhe-button{border:1px solid #DCE7F7;}

/* RED */
div.bxst-red {background: #FCDFDF!important; border-color: #E2C8C8!important;border-width: 1px; border-style: solid;}
div.bxst-red div.bxst-header{background: #F6D0D0!important;}
div.bxst-red div.bxst-header-over{background: #F3C8C8!important;}
div.bxst-red div.bxst-content .bxst-header-text{background: #6E737B!important;}
div.bxst-red div.bxst-footer{border-top: 1px solid #E2C8C8!important;}
div.bxst-red div.bxst-footer div.bxst-ctrl-txt span{color: #B09C9C!important;}
div.bxst-red div.bxst-content-area .bxst-title, div.bxst-red .bxst-title, div.bxst-red div.bxst-check-cont label{color: #7E6F6F!important;}
	/* For editor */
div.bxst-red div.bxst-content div.bxlhe-frame{background: #FCDFDF!important;}
div.bxst-red .lhe-stat-toolbar-cont { border-color: #FCDFDF !important } 
div.bxst-red div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-red div.bxst-lhe-cont td.bxlhe-editor-cell {background: #FCDFDF !important;}
div.bxst-red div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #FCDFDF!important;}
div.bxst-red div.bxst-content .lhe-button{border:1px solid #FCDFDF;}

/* PURPLE */
div.bxst-purple {background: #F6DAF8!important; border-color: #DDC4DF!important;border-width: 1px; border-style: solid;}
div.bxst-purple div.bxst-header{background: #EAC8ED!important;}
div.bxst-purple div.bxst-header-over{background: #E4BEE6!important;}
div.bxst-purple div.bxst-content .bxst-header-text{background: #6E737B!important;}
div.bxst-purple div.bxst-footer{border-top: 1px solid #DDC4DF!important;}
div.bxst-purple div.bxst-footer div.bxst-ctrl-txt span{color: #AC98AD!important;}
div.bxst-purple div.bxst-content-area .bxst-title, div.bxst-purple .bxst-title, div.bxst-purple div.bxst-check-cont label{color: #7B6D7C!important;}
	/* For editor */
div.bxst-purple div.bxst-content div.bxlhe-frame{background: #F6DAF8!important;}
div.bxst-purple .lhe-stat-toolbar-cont { border-color: #F6DAF8 !important } 
div.bxst-purple div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-purple div.bxst-lhe-cont td.bxlhe-editor-cell{background: #F6DAF8 !important;}
div.bxst-purple div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #F6DAF8!important;}
div.bxst-purple div.bxst-content .lhe-button{border:1px solid #F6DAF8;}

/* gray */
div.bxst-gray {background: #F5F5F5!important; border-color: #DCDCDC!important;border-width: 1px; border-style: solid;}
div.bxst-gray div.bxst-header{background: #E8E8E8!important;}
div.bxst-gray div.bxst-header-over{background: #DFDFDF!important;}
div.bxst-gray div.bxst-content .bxst-header-text{background: #7A7A7A!important;}
div.bxst-gray div.bxst-footer{border-top: 1px solid #DCDCDC!important;}
div.bxst-gray div.bxst-footer div.bxst-ctrl-txt span{color: #ABABAB!important;}
div.bxst-gray div.bxst-content-area .bxst-title, div.bxst-gray .bxst-title, div.bxst-gray div.bxst-check-cont label{color: #7A7A7A!important;}
	/* For editor */
div.bxst-gray div.bxst-content div.bxlhe-frame{background: #F5F5F5!important;}
div.bxst-gray .lhe-stat-toolbar-cont { border-color: #F5F5F5 !important } 
div.bxst-gray div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-gray div.bxst-lhe-cont td.bxlhe-editor-cell {background: #F5F5F5 !important;}
div.bxst-gray div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #F5F5F5!important;}
div.bxst-gray div.bxst-content .lhe-button{border:1px solid #F5F5F5;}

/* LHE editor*/
div.bxst-lhe-cont{position: absolute!important;top: -1000px;left: -1000px;}
div.bx-sticker div.bxst-content div.bxst-lhe-cont{position: static!important;}

/* Content area */
div.bxst-content-area{padding: 5px 5px 5px 21px !important; position:relative;top:0px;}

div.bxst-content-area, div.bxst-content-area *{font-size: 12px!important; font-family:Verdana!important;}
div.bxst-content-area .bxst-title{font-size: 11px!important; font-family:Verdana!important; margin:0 0 0 -7px !important;line-height:18px!important;}

div.bx-sticker-overlay{position: absolute; border:1px solid #d1d1d1; background: #d1d1d1; display: none;}
div.bx-sticker-op-0{filter: alpha(opacity=25); opacity: 0.25; display: block!important;}
div.bx-sticker-op-1{filter: alpha(opacity=50); opacity: 0.50; display: block!important;}
div.bx-sticker-op-2{filter: alpha(opacity=75); opacity: 0.75; display: block!important;}
div.bx-sticker-op-3{display: block!important;}
div.bxst-blink-red{position: absolute; border:1px solid #ff8000; background: #ff8000; display: none;}
#bx-panel .bxst-close-notify-link{text-decoration: underline!important; color: #3F93C7!important; cursor: pointer!important;}


/* Collapsed sticker*/
div.bx-sticker div.bxst-header div.bxst-col-title-cont{float: left;margin:1px 2px 0 2px; height: 16px; display: none; overflow: hidden;line-height:15px!important; padding: 0!important;}
div.bxst-collapsed div.bxst-content, div.bxst-collapsed div.bxst-footer{display: none;}
div.bxst-collapsed div.bxst-collapse img{background-position: -15px -75px!important;}
div.bxst-collapsed div.bxst-type-c span{display: none!important;} /* small type indicator*/
div.bxst-collapsed div.bxst-type-c{width: 6px!important; padding: 0!important;} /* small type indicator*/

div.bxst-collapsed div.bxst-check-cont{margin: 0 1px!important;}
div.bxst-collapsed div.bxst-check-cont label{display: none!important;} /* hide checkbox label*/

div.bxst-collapsed div.bxst-type-cont{margin: 3px 2px 0 3px!important;} /* hide checkbox*/
div.bxst-collapsed div.bxst-col-title-cont{display: block!important;} /* show collapsed title*/
div.bxst-collapsed div.bxst-col-title-cont .bxst-title{font-size: 12px!important; font-family:Verdana!important; display: inline!important;} /* show collapsed title*/

div.bxst-marker-overlay{height:100%; width:100%; left: 0; top: 0; z-index: 790; position: absolute; -moz-user-select: none !important; display: none; background-color:#FFFFFF; filter: gray() alpha(opacity=20); -moz-opacity: 0.2; opacity: 0.2; cursor: url(/bitrix/images/fileman/crosshair.cur), crosshair!important;}

div.bxst-cursor-hint{left: 500px; top: 200px; z-index: 792; position: absolute; display: none; padding: 4px 5px!important; margin: 0!important;font-size:11px!important; font-family: Tahoma, Arial, Verdana, Sans-Serif!important; color:black!important; background-color: #ffffce!important; border:1px solid #858585!important; overflow: visible; line-height:normal; font-weight:normal; letter-spacing:normal !important; font-variant:normal !important; font-style:normal !important; text-indent:0 !important; word-spacing:normal !important; text-align:left !important;}


div.bxst-sticker-marker{position: absolute; filter: alpha(opacity=40); opacity: 0.4; border-width: 1px; border-style: solid; display: none;}
div.bxst-cur-marker{position: absolute; filter: alpha(opacity=70); opacity: 0.7; display: none; border-width: 1px; border-style: solid;}
div.bxst-marker-over{filter: alpha(opacity=40); opacity: 0.4; border-width: 2px; border-style: solid; display: block !important;}

.bxst-sicked{border: 2px solid #ff8000!important;}
div.bx-sticker .bxst-sicked{border-width: 0!important;}

/* Color picker */
div.bxst-col-sel{position: absolute; /* top: 500px; left: 500px; */ width: 43px; background: #c0c0c0; height: 64px; display: block;}
div.bxst-col-sel span.bxst-col-pic {display: block; width: 18px; height: 18px; padding: 0!important; margin: 1px 0 0 1px!important; float: left; cursor: pointer!important;}

div.bxst-col-sel span.bxst-yellow{background: #FFFCB3!important;border: 1px solid #E5E2A1!important;}
div.bxst-col-sel span.bxst-green {background: #DBFCCD!important;border: 1px solid #C5E2B8!important;}
div.bxst-col-sel span.bxst-blue {background: #DCE7F7!important;border: 1px solid #C6CFDE!important;}
div.bxst-col-sel span.bxst-red {background: #FCDFDF!important;border: 1px solid #E2C8C8!important;}
div.bxst-col-sel span.bxst-purple {background: #F6DAF8!important;border: 1px solid #DDC4DF!important;}
div.bxst-col-sel span.bxst-gray {background: #F5F5F5!important;border: 1px solid #DCDCDC!important;}

div.bxst-trans-overlay{height:100%; width:100%; left: 0; top: 0; position: absolute; -moz-user-select: none !important; display: none; background-color:#FFFFFF; filter: gray() alpha(opacity=01); -moz-opacity: 0.01; opacity: 0.01;}


/* STICKER LIST STYLES*/
div.bxst-list{}
div.bxst-list table{border-collapse: collapse!important;}
div.bxst-list table td{padding: 0!important;}
div.bxst-list div.bxst-list-filter{margin: 0 0 35px 0!important;}
div.bxst-list div.bxst-list-filter table.bxst-list-filter-tbl{border-collapse: collapse!important;}
div.bxst-list div.bxst-list-filter table td {background: transparent!important; padding: 0!important;}
div.bxst-list div.bxst-list-filter table tr.bxst-list-filter-titles td{background: transparent!important; border-width: 0!important;}
div.bxst-list div.bxst-list-filter table tr.bxst-list-filter-titles td div {margin: 5px 0 4px 6px!important; padding: 0!important;}
div.bxst-list div.bxst-list-filter table tr.bxst-list-filter-controls td{padding: 3px 5px 0 0!important;}
div.bxst-list div.bxstl-fil-cont-c{margin: 4px 5px; border-width: 0 1px 0 0!important; border-style: solid; border-color:#E5E5E5;}
div.bxst-list div.bxstl-fil-cont{margin: 8px 5px 0 5px;}

div.bxst-list  div.bxst-list-filter-hr{height: 1px; background: #E5E5E5!important; margin:0 5px 0 0; padding: 0!important; position: relative; top: 24px; line-height: 1px!important; overflow: hidden!important;}
div.bxst-list  img.bxst-list-filter-hr{height: 1px; background: #f00!important; margin:0 5px 0 0; position: relative; top: 24px; width: 200px;}

/* Buttons in filter section */
div.bxstl-but{margin: 3px 1px!important; padding: 0!important;  cursor: pointer!important;}
div.bxstl-but div.bxstl-but-l, div.bxstl-but div.bxstl-but-r{margin: 0!important; padding: 0!important; width: 3px; height: 18px!important; display: none; background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important;}

div.bxstl-but div.bxstl-but-l{float: left; background-position: -20px -142px;}
div.bxstl-but div.bxstl-but-r{float: right; background-position: -26px -142px;}

div.bxstl-but div.bxstl-but-c{margin: 0 3px; padding: 0 3px!important; float: left; background: transparent; height: 18px!important;}
div.bxstl-but div.bxstl-but-c span{line-height: 16px!important; font-size: 13px!important; font-family:Verdana !important; color:#000!important; cursor: pointer!important; text-decoration: underline;}

/* Checked buttons */
div.bxstl-but-checked div.bxstl-but-l, div.bxstl-but-checked div.bxstl-but-r{display: block!important;}
div.bxstl-but-checked div.bxstl-but-l, div.bxstl-but-checked div.bxstl-but-r{display: block!important;}
div.bxstl-but-checked div.bxstl-but-c{background: url(/bitrix/images/fileman/stickers_sprite.png) transparent 0 -167px repeat-x!important; margin: 0!important;}
div.bxstl-but-checked div.bxstl-but-c span{text-decoration:none!important;}

/* filter color */
div.bxst-list div.bxst-list-color-cont{width: 145px; height: 24px;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick{width: 18px; height: 18px; cursor: pointer!important; float: left; margin:6px 2px 2px!important; padding: 0!important;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-l, div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-r{width: 3px; height: 18px; display: none; background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-l{float: left; background-position: -10px -142px;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-r{float: right; background-position: -15px -142px;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-c{height: 18px; background: transparent; float: left; margin: 0 3px; padding: 0!important; overflow: hidden!important; line-height: 1px!important;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-c div{height: 10px; width: 10px; margin: 3px 0 0 0; padding: 0!important; overflow: hidden!important; line-height: 1px!important;}

div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick-ch div.bxstl-col-pic-l, div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick-ch div.bxstl-col-pic-r{display: block!important;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick-ch div.bxstl-col-pic-c{background: url(/bitrix/images/fileman/stickers_sprite.png) transparent 0 -186px repeat-x!important; margin: 0!important;}



/* Stickers table */
div.bxst-list-items{overflow: auto; width: 100%;}
div.bxst-list-items table{border-collapse: collapse!important; width: 100%; table-layout: fixed;}
div.bxst-list-items table td{padding: 0!important;}
div.bxst-list-items table tr.bxst-list-header td{background: #E5E5E5!important; vertical-align: top!important;}
div.bxst-list-items table tr.bxst-list-header td div.bxstl-h-div{margin:7px 10px 7px 10px!important; font-family: Verdana; font-size: 11px; float: left; white-space: nowrap!important;}
div.bxst-list-items table tr.bxst-list-item td {padding: 4px 10px 4px 10px !important; font-family: Verdana; font-size: 12px;}
div.bxst-list-items table tr.bxst-list-item td.bxst-list-it-link a, div.bxst-list-items table tr.bxst-list-item td nobr{ display: block; color: #000!important; text-decoration: none; -o-text-overflow: ellipsis; text-overflow: ellipsis; -moz-binding: url('/bitrix/js/fileman/text-overflow.xml#ellipsis'); overflow:hidden; white-space: nowrap; }
div.bxst-list-items table tr.bxst-list-item td.bxst-list-it-link a.bxst-list-it-path{color: #666666!important;}
div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td, div.bxst-list  div.bxst-list-items table tr.bxst-list-item-closed td *, div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td a, div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td nobr, div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td a.bxst-list-it-path, div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td.bxst-id-cell a{color: #B0B0B0!important;}
div.bxst-list-items table tr.bxst-list-header td.bxst-id-cell div{text-align:center;}
div.bxst-list-items table tr.bxst-list-item td.bxst-id-cell {text-align: center;}
div.bxst-list-items table tr.bxst-list-item td.bxst-id-cell a{color: #3F93C7;}
div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td.bxst-id-cell a{text-decoration: line-through!important;}

div.bxst-list-items table tr.bxst-list-item td{background: transparent!important; border-width: 0 0 1px 0!important; border-style: solid!important; border-color:#E5E5E5!important; padding: 5px 3px 3px 10px;}

div.bxst-list-items table tr.bxst-list-item div.bxstl-color-ind{width: 18px!important; height: 18px!important; margin: 5px 4px;}
div.bxst-list div.bxst-list-action{float: right; margin: 15px 15px 0 0;}

/* Completed icon*/
tr.bxst-list-item div.bxstl-compl-icon{width: 12px; height: 10px; background-position: -10px -209px; visibility: hidden; float: right; margin:-20px -8px 0 0;}
tr.bxst-list-item td.bxstl-completed div.bxstl-compl-icon{visibility: visible!important;}
div.bxst-list-items tr.bxst-list-item-closed td.bxst-id-cell {text-decoration: line-through!important;}

/* NAVIgation section*/
div.bxst-list div.bxst-list-navi{float: left; margin: 15px 0 0 2px;}
div.bxstl-navi-prev-next-cnt a{font-size: 14px!important; font-family: Verdana!important; margin: 0 5px 0 3px!important; color: #3F93C7!important;}
div.bxstl-navi-pages-cnt{margin: 5px 0 0 0!important;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur, div.bxstl-navi-pages-cnt a.bxstl-navi-item{display: block; float: left; font-size: 14px!important; font-family: Verdana!important; color: #3F93C7!important; margin: 0 4px!important;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-l, div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-r{width: 3px; height: 18px; background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important;}

div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur {width: 20px;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-l{float: left; background-position: -20px -142px;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-r{float: right; background-position: -26px -142px;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-c{height: 18px; float: left; background: url(/bitrix/images/fileman/stickers_sprite.png) transparent 0 -167px repeat-x!important; margin: 0!important; padding: 0 2px!important; cursor: default!important; font-weight: bold!important; color: #000!important;}

div.bxstl-no-stickers{margin: 20px 25px; font-family: Verdana; font-size: 14px; color: #666666!important;}
div.bxstl-sep{width: 1px!important; height:18px !important; margin:5px 0 0 0!important;  background-color: #CECECE; float:right;}

div.bxst-marker-res-cont{position: absolute;top:0;left:0;width: 1px; height:1px; z-index: 750;}
div.bxst-marker-res-t, div.bxst-marker-res-b, div.bxst-marker-res-l, div.bxst-marker-res-r{background: transparent!important; border: 0!important; position: absolute; z-index: 750;}
div.bxst-marker-res-t, div.bxst-marker-res-b{height: 10px!important;}
div.bxst-marker-res-l, div.bxst-marker-res-r{cursor:n-resize !important; width: 10px!important;}

div.bxst-marker-res-t{cursor:n-resize !important;}
div.bxst-marker-res-b{cursor:s-resize !important;}
div.bxst-marker-res-l{cursor:w-resize !important;}
div.bxst-marker-res-r{cursor:e-resize !important;}

div.bxst-marker-res-lt, div.bxst-marker-res-rt, div.bxst-marker-res-lb, div.bxst-marker-res-rb{background: transparent!important; border: 0!important; position: absolute; z-index: 750; width: 10px; height: 10px;}

div.bxst-marker-res-lt{cursor:nw-resize !important;}
div.bxst-marker-res-rt{cursor:ne-resize !important;}
div.bxst-marker-res-lb{cursor:sw-resize !important;}
div.bxst-marker-res-rb{cursor:se-resize !important;}















/* End */
/* /bitrix/components/bitrix/menu/templates/horizontal_multilevel/style.css */
/* /bitrix/templates/furniture_pale-blue/styles.css */
/* /bitrix/templates/furniture_pale-blue/template_styles.css */
/* /bitrix/js/fileman/sticker.css */
